<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<h1>Home</h1>
	<hr />
	<ul>
		<li><a href="/userSetting">Go to User Setting Page (using default login page)</a></li>
		<li><a href="/adminConsole">Go to Admin Console</a></li>
	</ul>
	<hr />
	<ul>
		<li><a href="/userSetting2">Go to User Setting Page (using custom login page)</a></li>
	</ul>
</body>
</html>